@import url(../../index.css);

.container {
  width: calc(100% - 100px);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: end;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
}

footer {
  padding-bottom: 24px;
}

#footer {
  margin-top: 200px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: calc(100% - 30px);
  }
}
